.filter {
  flex: 1000 0 auto;
  order: 2;
  padding-left: calc(var(--size) * 2);
  padding-right: calc(var(--size) * 2);

  display: flex;
  justify-content: space-around;

  font-size: 70%;
}

.filter>.stack {
  margin: auto;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.filter>.stack>.search {
  width: 100%;
  padding: calc(var(--size) * 0.46875) calc(var(--size) * 0.6);
  margin-bottom: calc(var(--size) * 0.625);

  font-size: 100%;

  border-radius: calc(var(--size) * 0.3125);
  border: 1px black solid;
}

.filter>.stack>.star-terms {
  margin: 0 auto;

  display: flex;
  flex-flow: row nowrap;
}

.filter>.stack>.star-terms>.star {
  display: flex;

  cursor: pointer;
}

.filter>.stack>.star-terms>.star>.unfilled {
  display: block;
}

.filter>.stack>.star-terms>.star>.filled {
  display: none;
}

.filter>.stack>.star-terms>.star.selected>.unfilled {
  display: none;
}

.filter>.stack>.star-terms>.star.selected>.filled {
  display: block;
}

.filter>.stack>.star-terms>.star>img {
  height: calc(var(--size) * 1.5625);
  margin: auto calc(var(--size) * 0.625) auto 0;
}

.filter>.stack>.star-terms>.term {
  width: var(--term-width);
  padding: calc(var(--size) * 0.3125) calc(var(--size) * 0.625);
  margin: 0 calc(var(--size) * 0.3125);

  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-radius: calc(var(--size) * 0.3125);
  box-shadow: 0 calc(var(--size) * 0.05) calc(var(--size) * 0.15) rgba(0, 0, 0, 40%);

  cursor: pointer;
}

.filter>.stack>.star-terms>.term.selected {
  box-shadow: none;
}

.filter>.stack>.star-terms>.term.fall {
  border-color: var(--fall);
}

.filter>.stack>.star-terms>.term.iap {
  border-color: var(--iap);
}

.filter>.stack>.star-terms>.term.spring {
  border-color: var(--spring);
}

.filter>.stack>.star-terms>.term.summer {
  border-color: var(--summer);
}

.filter>.stack>.star-terms>.term.fall.selected {
  background-color: var(--fall);
}

.filter>.stack>.star-terms>.term.iap.selected {
  background-color: var(--iap);
}

.filter>.stack>.star-terms>.term.spring.selected {
  background-color: var(--spring);
}

.filter>.stack>.star-terms>.term.summer.selected {
  background-color: var(--summer);
}