:root {
  --fall: #ffd4b6;
  --iap: #b4e6ff;
  --spring: #ffd4f4;
  --summer: #c2ffd4;

  --logo-blue: #1574cb;
  --logo-red: #ca3b3b;
  --button-purple: #d1bbff;
  --star-yellow: #ffea91;
  --link-color: #0400d0;
  --highlight-color: yellow;

  --text-color: black;
  --background-color: white;
  --body-background-color: #f4f4f4;
  --shadow-color: rgba(0, 0, 0, 40%);

  --term-width: calc(5 * var(--x));
  --starred-border-size: calc(var(--x) / 6);
}

:root.mobile {
  --x: 1.3rem;
}
