.splash {
  flex: 1 0 auto;
  order: 1;

  display: flex;
}

.splash>.stack {
  margin: 0 auto;

  display: flex;
  flex-flow: column nowrap;
}

.splash>.stack>.logo {
  font-size: 150%;
}

.splash>.stack>.logo>a {
  color: var(--text-color);
  text-decoration: none;
}

.splash>.stack>.logo>a:hover {
  text-decoration: underline;
}

.splash>.stack>.logo>a>.blue {
  color: var(--logo-blue);
}

.splash>.stack>.logo>a>.red {
  color: var(--logo-red);
}

.splash>.stack>.logo>.dark-mode-toggle {
  margin: auto 0 auto 0;

  cursor: pointer;
}

.splash>.stack>.logo>.dark-mode-toggle>img {
  height: calc(1.5 * var(--x));
  transition: transform 0.5s;
}

.splash>.stack>.logo>.dark-mode-toggle>img:hover {
  transform: scale(1.25);
}

.splash>.stack>.acknowledgements {
  padding: calc(0.625 * var(--x)) 0 0;

  font-size: 50%;
  line-height: 1.6;
}
