.template {
  display: none !important;
}

.highlighted {
  background-color: yellow;
}

.hidden-by-search {
  display: none !important;
}

.hidden-by-term {
  display: none !important;
}

.hidden-by-star {
  display: none !important;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  -webkit-text-size-adjust: 80%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  overflow-y: scroll;
  min-width: calc(var(--size) * 43);

  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: var(--size);

  background-color: var(--viewer-bkgd);

  transition: opacity 0s;
  opacity: 1;
}

body.loading {
  opacity: 0;
}

.top-button {
  position: fixed;
  top: calc(var(--size) * 1.25);
  right: calc(var(--size) * 1.25);
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--top-button);

  color: white;
  cursor: pointer;
  padding: calc(var(--size) * 0.625);
  border-radius: calc(var(--size) * 0.625);
}

.top-button>img {
  width: calc(var(--size) * 1.25);
  height: calc(var(--size) * 1.25);
}

.header {
  display: flex;

  width: calc(100% - var(--size) * 4);
  padding: calc(var(--size) * 1) calc(var(--size) * 2);

  background-color: white;
  font-size: 160%;
  box-shadow: 0 calc(var(--size) * 0.2) calc(var(--size) * 0.3) rgba(0, 0, 0, 40%);
}

.header>.stack {
  max-width: calc(var(--size) * 75);
  margin: 0 auto;

  display: flex;
  flex-flow: row nowrap;
}

.header>.stack>div {
  padding-top: calc(var(--size) * 1);
  padding-bottom: calc(var(--size) * 1);
}

.notifications {
  margin: calc(var(--size) * 1.25) auto;
  order: 4;

  font-size: 100%;
  text-align: center;
}

.viewer {
  padding: 0 calc(var(--size) * 1.25);
}

.end {
  margin: calc(var(--size) * 1.25);

  font-size: 100%;
  text-align: center;
  line-height: 1.6;
}