@import "index.preloader.css";
@import "index.return-top.css";
@import "index.header.css";
@import "index.viewer.css";
@import "index.footer.css";
@import "index.constants.css";
@import "index.media.css";

:root {
  --x: 1rem;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  min-width: calc(36 * var(--x));

  font-family: 'Montserrat', Helvetica, sans-serif;
  color: var(--text-color);
  background-color: var(--body-background-color);
}

a {
  color: var(--link-color);
}
