:root.mobile {
  --x: 1.25rem;
}

@media screen and (max-width: 60rem) {
  .mobile .header>.stack {
    flex-wrap: wrap;
  }

  .mobile .splash>.stack {
    margin-right: calc(0.625 * var(--x));
  }

  .mobile .filter {
    order: 3;
  }

  .mobile .subscribe {
    order: 2;
  }

  .mobile .subscribe>.stack {
    margin-left: calc(0.625 * var(--x));
  }
}
