@media screen and (max-width: 66rem) {
  .header>.stack {
    flex-wrap: wrap !important;
  }

  .splash>.stack {
    margin-right: calc(0.625 * var(--x));
  }

  .filter {
    order: 3;
    padding-left: 0;
    padding-right: 0;
  }

  .subscribe {
    order: 2;
  }

  .subscribe>.stack {
    margin-left: calc(0.625 * var(--x));
  }
}

/* Mobile: 66/1.3 */
@media screen and (max-width: 51rem) {
  .mobile .header>.stack {
    flex-wrap: wrap !important;
  }

  .mobile .splash>.stack {
    margin-right: calc(0.625 * var(--x));
  }

  .mobile .filter {
    order: 3;
    padding-left: 0;
    padding-right: 0;
  }

  .mobile .subscribe {
    order: 2;
  }

  .mobile .subscribe>.stack {
    margin-left: calc(0.625 * var(--x));
  }
}
