.subscribe {
  flex: 1 0 auto;
  order: 3;

  display: flex;
  justify-content: space-around;
  
  font-size: 70%;
}

.subscribe>.stack {
  width: calc(13 * var(--x));
  margin: auto;

  display: flex;
  flex-flow: column nowrap;
}

.subscribe>.stack>input {
  width: 100%;
  padding: calc(0.46875 * var(--x)) calc(0.7 * var(--x));
  margin-bottom: calc(0.625 * var(--x));

  font-family: inherit;
  font-size: 100%;

  border-radius: calc(0.3125 * var(--x));
  box-shadow: inset 0 calc(0.1 * var(--x)) calc(0.15 * var(--x)) var(--shadow-color);
  color: var(--text-color);
  background-color: var(--body-background-color);
}

.subscribe>.stack>.button {
  padding: calc(0.3125 * var(--x));

  font-family: inherit;
  font-size: 100%;
  text-align: center;

  border: var(--starred-border-size) solid var(--button-purple);
  border-radius: calc(0.3125 * var(--x));
  box-shadow: 0 calc(0.2 * var(--x)) calc(0.3 * var(--x)) var(--shadow-color);

  cursor: pointer;
}

.subscribe>.stack>.button>.d {
  display: none;
}

.subscribe>.stack>.button.selected {
  background-color: var(--button-purple);
  padding: calc(0.3125 * var(--x) + var(--starred-border-size));

  border: none;
  box-shadow: none;
}

.subscribe>.stack>.button.selected>.d {
  display: initial;
}

.subscribe>.stack>.button.disabled {
  border: calc(var(--starred-border-size) / 2) solid var(--text-color);
  padding: calc(0.3125 * var(--x) + var(--starred-border-size) / 2);

  box-shadow: none;
  
  cursor: initial;
}
