.highlighted {
  background-color: var(--highlight-color);
}

.hidden-by-search {
  display: none !important;
}

.hidden-by-term {
  display: none !important;
}

.hidden-by-star {
  display: none !important;
}

.natural-word-break {
  word-break: break-word;
}

.viewer {
  padding: 0 calc(1.25 * var(--x));
}

.pane {
  width: calc(100% - 3.2 * var(--x));
  max-width: calc(75 * var(--x));
  margin: calc(1.25 * var(--x)) auto;
  padding: calc(1.6 * var(--x));

  display: flex;
  flex-flow: row;

  background-color: var(--background-color);
  border-radius: calc(0.625 * var(--x));
  box-shadow: 0 calc(0.2 * var(--x)) calc(0.3 * var(--x)) var(--shadow-color);

  cursor: pointer;
}

.pane.starred {
  border: var(--starred-border-size) solid var(--star-yellow);
  padding: calc(1.6 * var(--x) - var(--starred-border-size));

  box-shadow: none;
}

.pane>.left {
  flex: 1 1 65%;
  margin-right: calc(1.75 * var(--x));

  display: flex;
  flex-flow: column;
}

.pane .title-wrap {
  padding-bottom: calc(0.9 * var(--x));

  line-height: 1.6;
}

.pane .detail-link {
  font-size: 135%;
  color: var(--link-color);
  text-decoration: none;
}

.pane .detail-link:hover {
  text-decoration: underline;
}

.pane .description {
  line-height: 1.6;
}

.pane .divider {
  width: 60%;
  margin: calc(1.25 * var(--x)) auto;

  border: 1px solid var(--text-color);
}

.pane .prereqs {
  line-height: 1.6;
}

.pane>.right {
  flex: 1 0 calc(10 * var(--x));

  display: flex;
  flex-flow: column;
}

.pane>.right>.top {
  margin: 0 0 auto auto;

  display: flex;
  flex-flow: column;
}

.pane>.right>.top>.terms {
  margin: 0 0 calc(0.625 * var(--x)) auto;

  display: flex;
  flex-flow: column wrap;
}

.pane>.right>.top>.terms>.term {
  width: var(--term-width);
  padding: calc(0.3125 * var(--x)) calc(0.625 * var(--x));
  margin-bottom: calc(0.625 * var(--x));

  text-align: center;
  border-radius: calc(0.3125 * var(--x));
}

.pane>.right>.top>.terms>.term.fall {
  background-color: var(--fall);
}

.pane>.right>.top>.terms>.term.iap {
  background-color: var(--iap);
}

.pane>.right>.top>.terms>.term.spring {
  background-color: var(--spring);
}

.pane>.right>.top>.terms>.term.summer {
  background-color: var(--summer);
}

.pane>.right>.top>.natural-word-break {
  margin-bottom: calc(0.625 * var(--x));

  line-height: 1.6;
  text-align: right;
  font-style: italic;
}

.pane>.right>.top>.due {
  font-weight: bold;

  color: green;
}

.pane>.right>.top>.due.passed {
  color: red;
}

.pane>.right>.bottom {
  margin: auto 0 0 auto;

  line-height: 1.6;
  text-align: right;
}

.pane>.right>.bottom>div {
  margin-bottom: calc(0.625 * var(--x));
}

.pane .contact {
  font-style: italic;
}

/* Mobile. */
.mobile .pane {
  flex-flow: column;
}

.mobile .pane>.left {
  flex: 0 0 auto;
  order: 2;
  font-size: 120%;
  margin-top: calc(var(--x));
}

.mobile .pane>.right {
  flex: 0 0 auto;
  order: 1;
  flex-flow: row;
}

.mobile .pane>.right>.top {
  flex: 0 0 auto;
  margin: auto calc(var(--x)) auto 0;
}

.mobile .pane>.right>.top>.terms {
  margin: 0 auto calc(0.625 * var(--x)) 0;
}

.mobile .pane>.right>.top>.natural-word-break {
  text-align: left;
}

.mobile .pane>.right>.bottom {
  flex: 0 1 auto;
  margin: auto 0 auto auto;
}
