.filter {
  flex: 1000 0 auto;
  order: 2;
  padding-left: calc(2 * var(--x));
  padding-right: calc(2 * var(--x));

  display: flex;
  justify-content: space-around;

  font-size: 70%;
}

.filter>.stack {
  margin: auto;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.filter>.stack>.search {
  width: 100%;
  padding: calc(0.46875 * var(--x)) calc(0.7 * var(--x));
  margin-bottom: calc(0.625 * var(--x));

  font-family: inherit;
  font-size: 100%;

  border-radius: calc(0.3125 * var(--x));
  border: 1px var(--text-color) solid;
  color: var(--text-color);
  background-color: var(--background-color);
}

.filter>.stack>.star-terms {
  margin: 0 auto;

  display: flex;
  flex-flow: row nowrap;
}

.filter>.stack>.star-terms>.star {
  display: flex;
  cursor: pointer;
}

.filter>.stack>.star-terms>.star>.dark {
  display: none;
}

.filter>.stack>.star-terms>.star .unfilled {
  display: block;
}

.filter>.stack>.star-terms>.star .filled {
  display: none;
}

.filter>.stack>.star-terms>.star.selected .unfilled {
  display: none;
}

.filter>.stack>.star-terms>.star.selected .filled {
  display: block;
}

.filter>.stack>.star-terms>.star>div {
  margin: auto calc(0.625 * var(--x)) auto 0;
}

.filter>.stack>.star-terms>.star img {
  height: calc(1.5625 * var(--x));
}

.filter>.stack>.star-terms>.term {
  width: var(--term-width);
  padding: calc(0.3125 * var(--x)) calc(0.625 * var(--x));
  margin: 0 calc(0.3125 * var(--x));

  text-align: center;
  border-style: solid;
  border-width: var(--starred-border-size);
  border-radius: calc(0.3125 * var(--x));
  box-shadow: 0 calc(0.1 * var(--x)) calc(0.3 * var(--x)) var(--shadow-color);

  cursor: pointer;
}

.filter>.stack>.star-terms>.term.selected {
  box-shadow: none;
}

.filter>.stack>.star-terms>.term.fall {
  border-color: var(--fall);
}

.filter>.stack>.star-terms>.term.iap {
  border-color: var(--iap);
}

.filter>.stack>.star-terms>.term.spring {
  border-color: var(--spring);
}

.filter>.stack>.star-terms>.term.summer {
  border-color: var(--summer);
}

.filter>.stack>.star-terms>.term.fall.selected {
  background-color: var(--fall);
}

.filter>.stack>.star-terms>.term.iap.selected {
  background-color: var(--iap);
}

.filter>.stack>.star-terms>.term.spring.selected {
  background-color: var(--spring);
}

.filter>.stack>.star-terms>.term.summer.selected {
  background-color: var(--summer);
}
