@media screen and (max-width: 75rem) {
  .header>.stack {
    flex-wrap: wrap !important;
  }

  .splash>.stack {
    margin-right: calc(0.625 * var(--x));
  }

  .filter {
    order: 3;
  }

  .subscribe {
    order: 2;
  }

  .subscribe>.stack {
    margin-left: calc(0.625 * var(--x));
  }
}
