:root.mobile {
  --size: 26px;
}

@media screen and (max-width: 1818.75px) {
  .mobile .header>.stack {
    flex-wrap: wrap;
  }

  .mobile .splash>.stack {
    margin-right: calc(var(--size) * 0.625);
  }

  .mobile .filter {
    order: 3;
  }

  .mobile .subscribe {
    order: 2;
  }

  .mobile .subscribe>.stack {
    margin-left: calc(var(--size) * 0.625);
  }
}