body {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
}

.content-wrapper {
  display: flex;
}

.title-text {
  text-align: center;
}

.table-div {
  text-align: center;
  justify-content: center;
}

#urop-table tfoot {
  display: table-header-group;
}

#urop-table tfoot input, select {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
}

#urop-table_filter {
  display: none;
}
